<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- css -->
  <link th:href="@{/css/mercari.css}" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
  <link rel="stylesheet" href="./mercari.css"/>
  <!-- script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script th:src="@{/js/category.js}"></script>

  <title>Rakus Items</title>
</head>
<body>
  <!-- navbar -->
  <span th:include="fragment::hedder2"></span>

  <!-- details -->
  <div id="input-main" class="container">
    <a type="button" class="btn btn-default" th:href="@{/}"><i class="fa fa-reply"></i> back</a>
    <h2>Add</h2>

    <!-- add form -->
    <form th:action="@{/add/addItem}" th:object="${addEditItemForm}" method="post" class="form-horizontal">
      <!-- name -->
      <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="name" id="name">
          <label style="color:red" th:errors="*{name}" th:field="*{name}">error message</label>
        </div>
      </div>

      <!-- price -->
      <div class="form-group">
        <label for="price" class="col-sm-2 control-label">price</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="price" id="price">
          <label style="color:red" th:errors="*{price}" th:field="*{price}">error message</label>
        </div>
      </div>

      <!-- category -->
      <div class="form-group">
        <label for="category" class="col-sm-2 control-label">category</label>
        <div class="col-sm-8">
          <select class="form-control" name="largeCategory" id="largeCategory">
            <option value="---">-- largeCategory --</option>
            <option th:each="large:${session.categoryLargeNameList}" th:text="${large.categoryName}" th:value="${large.id}"></option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="category" class="col-sm-2 control-label"></label>
        <div class="col-sm-8">
          <select class="form-control" name="mediumCategory" id="mediumCategory" disabled="disabled">
            <option value="---" class="---">-- mediumCategory --</option>
            <option th:each="medium:${session.categoryMediumNameList}" th:text="${medium.categoryName}" th:value="${medium.id}" th:class="${medium.parentId}"></option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="category" class="col-sm-2 control-label"></label>
        <div class="col-sm-8">
          <select class="form-control" name="smallCategory" id="smallCategory" disabled="disabled">
            <option value="---">-- smallCategory --</option>
            <option th:each="small:${session.categorySmallNameList}" th:text="${small.categoryName}" th:value="${small.id}" th:class="${small.parentId}"></option>
          </select>
        </div>
      </div>
      
      <div class="form-group">
        <label for="category" class="col-sm-2 control-label"></label>
        <div class="col-sm-8">
          <label class="text-danger" style="color:red" th:if="${errorMessage}">カテゴリーを選択してください</label>
        </div>
      </div>
      
      <!-- brand -->
      <div class="form-group">
        <label for="brand" class="col-sm-2 control-label">brand</label>
        <div class="col-sm-8">
          <input type="text" id="brand" class="form-control" name="brand">
          <label style="color:red" th:errors="*{brand}" th:field="*{brand}">error message</label>
        </div>
      </div>
      
      <!-- condition -->
      <div class="form-group">
        <label for="condition" class="col-sm-2 control-label">condition</label>
        <div class="col-sm-8">
          <label for="condition1" class="radio-inline-inline" th:each="condition:${conditionMap}">
            <input type="radio" name="condition" th:id="${condition.key}" th:value="${condition.value}" th:text="${condition.value}" th:checked="${condition.value == 1}">&nbsp;&nbsp;
          </label>
        </div>
      </div>

      <!-- description -->
      <div class="form-group">
        <label for="description" class="col-sm-2 control-label">description</label>
        <div class="col-sm-8">
          <textarea name="description" id="description" class="form-control" rows="5"></textarea>
          <label style="color:red" th:errors="*{description}" th:field="*{description}">error message</label>
        </div>
      </div>

      <!-- submit button -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
      
    </form>
  </div>
</body>
</html>