<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- css -->
  <link th:href="@{/css/mercari.css}" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
  <link rel="stylesheet" href="./mercari.css"/>
  <!-- script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script th:src="@{/js/category.js}"></script>

  <title>Rakus Items</title>
</head>
<body>
  <!-- navbar -->
  <span th:include="fragment::hedder2"></span>
​
  <div id="main" class="container-fluid">
    <!-- addItem link -->
    <div id="addItemButton">
      <a class="btn btn-default" th:href="@{/add}"><i class="fa fa-plus-square-o"></i> Add New Item</a>
    </div>
​
    <!-- 検索フォーム -->
    <div id="forms">
      <form th:action="@{/}" th:object="${categorySearchForm}" class="form-inline" role="form" method="post">
        <div class="form-group">
          <input type="input" class="form-control" id="name" name="itemNameForm" placeholder="item name"/>
        </div>
        
        <div class="form-group"><i class="fa fa-plus"></i></div>
        <div class="form-group">

          <select class="form-control" name="largeCategoryForm" id="largeCategoryForm">
            <option value="---">-- largeCategory --</option>
            <option th:each="large:${session.categoryLargeNameList}" th:text="${large.categoryLargeName}" th:value="${large.id}"></option>
          </select>

          <select class="form-control" name="mediumCategoryForm" id="mediumCategoryForm" disabled="disabled">
            <option value="---" class="---">-- mediumCategory --</option>
            <option th:each="medium:${session.categoryMediumNameList}" th:text="${medium.categoryMediumName}" th:value="${medium.id}" th:class="${medium.parentId}"></option>
          </select>

          <select class="form-control" name="smallCategoryForm" id="smallCategoryForm" disabled="disabled">
            <option value="---">-- smallCategory --</option>
            <option th:each="small:${session.categorySmallNameList}" th:text="${small.categorySmallName}" th:value="${small.id}" th:class="${small.parentId}"></option>
          </select>

        </div>
        
        <div class="form-group"><i class="fa fa-plus"></i></div>

        <div class="form-group">
          <input type="text" class="form-control" name="brandForm" placeholder="brand"/>
        </div>

        <div class="form-group"></div>
        <button type="submit" class="btn btn-default"><i class="fa fa-angle-double-right"></i> search</button>
      </form>
    </div>
​
    <!-- pagination -->
    <div class="pages">
      <nav class="page-nav">
        <ul class="pager">
          <li class="previous" th:if="${arrow > 0}">
          		<a th:href="@{/(arrow=${arrow - 1}, brand=${brand}, categoryIds=${categoryIds}, itemName=${itemName})}">&larr; prev</a>
          </li>
​
          <li class="next" th:if="${arrow + 1 < totalPages}">
          		<a th:href="@{/(arrow=${arrow + 1}, brand=${brand}, categoryIds=${categoryIds}, itemName=${itemName})}">next &rarr;</a>
          </li>
        </ul>
      </nav>
    </div>
​
    <!-- table -->
    <div class="table-responsive">
      <table id="item-table" class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>name</th>
            <th>price</th>
            <th>category</th>
            <th>brand</th>
            <th>cond</th>
          </tr>
        </thead>
        <tbody>
​
          <tr th:each="item:${itemList}">
            <td class="item-name"><a th:href="@{'/detail/?id=' + ${item.id}}"><span th:text="${item.name}"></span></a></td>
            <td class="item-price" th:text="${item.price}">dummy price</td>
            <td class="item-category">
            	<a th:href="@{/(arrow=0, brand=${brand}, largeCategory=${item.categoryId})}"><span th:text="${item.largeCategory}"></span></a> / 
            	<a th:href="@{/(arrow=0, brand=${brand}, mediumCategory=${item.parentId})}"><span th:text="${item.mediumCategory}"></span></a> / 
            	<a th:href="@{/(arrow=0, brand=${brand}, smallCategory=${item.smallCategoryId})}"><span th:text="${item.smallCategory}"></span></a>
            </td>
            <td class="item-brand"><a th:href="@{/(brand=${item.brand})}"><span th:text="${item.brand}"></span></a></td>
            <td class="item-condition" th:text="${item.condition}">dummy condition</td>
          </tr>
​
        </tbody>
      </table>
    </div>
​
    <!-- pagination -->
    <div class="pages">
      
      <nav class="page-nav">
        <ul class="pager">
          <li class="previous" th:if="${arrow > 0}">
          		<a th:href="@{/(arrow=${arrow - 1}, brand=${brand}, categoryIds=${categoryIds}, itemName=${itemName})}">&larr; prev</a>
          </li>
​
          <li class="next" th:if="${arrow + 1 < totalPages}">
          		<a th:href="@{/(arrow=${arrow + 1}, brand=${brand}, categoryIds=${categoryIds}, itemName=${itemName})}">next &rarr;</a>
          </li>
        </ul>
      </nav>
      
      <!-- ページ番号を指定して表示するフォーム -->
      <div id="select-page">
        <form class="form-inline" th:action="@{/}">
          <div class="form-group">
            <div class="input-group col-xs-6">
              <label></label>
              <input type="text" class="form-control" name="arrow"/>
              <input type="hidden" name="brand" th:value="${brand}">
              <input type="hidden" name="categoryIds" th:value="${categoryIds}">
              <!-- 総ページ数 -->
              <div class="input-group-addon" th:text="${' / ' + totalPages}">/ 20</div>
            </div>
            <div class="input-group col-xs-1">
              <button type="submit" class="btn btn-default">Go</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>